/* Bootstrap Overrides */

body {
    font-size: 15px;
    line-height: 1.4em;
}

p {
    font-size: 1em;
    color: #212121;
    text-align: left;
}

a,
a:hover,
a:active,
a:focus {
    color: rgb(0, 99, 220);
}

h1 {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
    width: 250px;
    position: relative;
    top: -38px;
}

header {
    background: rgb(0, 99, 220);
}

.navbar-custom {
    background-color: #333;
}

.navbar-custom .navbar-nav li a {
    transition: all .3s;
}

.navbar-custom .navbar-nav li a:hover {
    color: rgb(0, 99, 220);
    transition: all .3s;
}

.navbar-custom .navbar-toggle {
    transition: all .3s
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    background-color: rgb(0, 99, 220);
    border: 1px solid #fff;
    transition: all .3s;
}

header .intro-text .name {
    font-size: 3.375em;
    font-weight: 300;
}

header .intro-text .skills {
    text-transform: initial;
}

footer .footer-above {
    border-bottom: 1px solid #666;
}

footer .footer-above,
footer .footer-below {
    background-color: #333;
}

.intro-text .btn-primary {
    min-width: 230px;
    padding: 12px;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 18px;
}

h1 {
    font-size: 3.375em;
}


/* Helper Classes */

.clearB {
    clear: both;
}


/* Form */

.last-field {
    margin-bottom: 24px !important;
}

.register {
    padding: 12px 0;
}

.register a {
    font-weight: 400;
}

.register strong {
    font-weight: 700;
}

.login-footer {
    position: absolute;
    bottom: 24px;
    width: 94%;
}

label {
    margin-bottom: 0;
}

.textfield {
    position: relative;
    display: block;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 8px;
    padding-top: 12px;
    width: 100%;
    max-width: 100%;
    color: #212121;
}

.textfield__input,
.textfield__label {
    text-align: left;
    width: 100%;
}

.textfield__input {
    display: block;
    margin: 0;
    outline: 0;
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    padding: 8px 0;
}

.textfield__label {
    display: block;
    position: absolute;
    top: 20px;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    color: rgb(102, 102, 102);
}

.textfield__label:after {
    visibility: hidden;
    position: absolute;
    left: 45%;
    bottom: 0;
    background-color: rgb(0, 99, 220);
    width: 10px;
    height: 2px;
    content: '';
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textfield--floatingLabel .textfield__label {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textfield--floatingLabel .textfield__input:focus + .textfield__label,
.textfield--floatingLabel .textfield__input:valid + .textfield__label {
    visibility: visible;
    top: 0;
    font-size: 12px;
}

.textfield--floatingLabel .textfield__input:focus + .textfield__label {
    color: rgb(0, 99, 220);
}

.textfield--floatingLabel .textfield__input:focus + .textfield__label:after {
    visibility: visible;
    left: 0;
    width: 100%;
}

.absolute-center {
    height: 180px;
}


/* Buttons */

input[type="submit"],
.btn-outline {
    background-color: transparent;
    border: 2px solid rgb(0, 99, 220);
    color: rgb(0, 99, 220);
    padding: 7px 50px;
    font-weight: bold;
    border-radius: 2px;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 1em;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus {
    background-color: rgb(0, 99, 220);
    color: #fff;
    transition: all .5s;
}

.btn-primary {
    background-color: rgb(0, 99, 220);
    color: rgb(255, 255, 255) !important;
    border: 2px solid rgb(0, 99, 220);
    padding: 7px 50px;
    font-weight: bold;
    border-radius: 2px;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 1em;
}


/* Modals */

.modal-footer {
    padding: 18px 0;
    border-top: none;
}

.modal-content {
    width: 650px;
    border-radius: 2px;
}

.modal-body {
    padding: 24px;
}

.modal-header {
    border-bottom: none;
    padding: 24px;
}

.modal-footer {
    text-align: inherit;
}


/* Radio Buttons */

fieldset label {
    color: rgb(102, 102, 102);
    margin: 18px 0;
}

fieldset:not(#foo) > input[type='radio'] {
    /* Hide the input, but have it still be clickable */
    opacity: 0;
    position: absolute;
    display: block;
}

fieldset:not(#foo) > input[type='radio'] + label {
    margin: 0;
    clear: none;
    /* Left padding makes room for image */
    padding: 0px 0 0px 1.5em;
    /* Make look clickable because they are */
    cursor: pointer;
    display: block;
    margin-bottom: 1em;
}

fieldset:not(#foo) > input[type='radio'] + label:before {
    position: relative;
    content: "";
    top: 0;
    left: -.65em;
    padding: 0 .625em;
    border-radius: 100%;
    border: solid 2px #bbb;
}


/*
    Change from unchecked to checked graphic
*/

fieldset:not(#foo) > input[type='radio']:checked + label:before {
    background: rgb(0, 99, 220);
}


/* Nav */

ul.nav li a {
    transition: all .3s;
}

ul.nav li a {
    position: relative;
    padding-bottom: 3px;
    display: inline-block;
    color: rgb(0, 99, 220);
}

ul.nav li a:hover {
    text-decoration: none;
}

ul.nav li a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: 0 0;
    transition: width .5s ease, background-color .5s ease
}

ul.nav li a:hover:after,
ul.nav li a.active:after {
    width: 100%;
    background: rgb(0, 99, 220);
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent
}


/* Social Media Icons */

.social-container {
    float: right;
}

.social-container > span {
    position: relative;
    top: -16px;
}

.social-icon {
    background: url('../img/social_icons.svg') no-repeat;
    width: 50px;
    height: 45px;
    display: inline-block;
    background-size: 775px;
}

.facebook {
    background-position: -184px -286px;
    margin-left: 24px;
}

.twitter {
    background-position: -473px -286px;
}

.google-plus {
    background-position: -111px -286px;
}

.textfield i {
    float: right;
    position: relative;
    top: -24px;
    cursor: pointer;
}


/* Cards */

.card {
    background: rgb(255, 255, 255);
    padding: 18px;
    box-shadow: 1px 1px 1px #ccc;
    margin-top: 18px;
}

.card input[type="submit"] {
    display: block;
    margin: 18px 0;
}

 /* Alerts */
 
 .alert {
     padding: 15px;
     margin-bottom: 20px;
     border: 1px solid transparent;
     border-radius: 4px;
 }
 
 .alert {
     padding: 15px;
     margin-bottom: 20px;
     border: 1px solid transparent;
     border-radius: 4px;
 }
 
 .alert h4 {
     margin-top: 0;
     color: inherit;
 }
 
 .alert .alert-link {
     font-weight: bold;
 }
 
 .alert > p,
 .alert > ul {
     margin-bottom: 0;
 }
 
 .alert > p + p {
     margin-top: 5px;
 }
 
 .alert-dismissable,
 .alert-dismissible {
     padding-right: 35px;
 }
 
 .alert-dismissable .close,
 .alert-dismissible .close {
     position: relative;
     top: -2px;
     right: -21px;
     color: inherit;
 }
 
 .alert-success {
     color: #3c763d;
     background-color: #dff0d8;
     border-color: #d6e9c6;
 }
 
 .alert-success hr {
     border-top-color: #c9e2b3;
 }
 
 .alert-success .alert-link {
     color: #2b542c;
 }
 
 .alert-info {
     color: #31708f;
     background-color: #d9edf7;
     border-color: #bce8f1;
 }
 
 .alert-info hr {
     border-top-color: #a6e1ec;
 }
 
 .alert-info .alert-link {
     color: #245269;
 }
 
 .alert-warning {
     color: #8a6d3b;
     background-color: #fcf8e3;
     border-color: #faebcc;
 }
 
 .alert-warning hr {
     border-top-color: #f7e1b5;
 }
 
 .alert-warning .alert-link {
     color: #66512c;
 }
 
 .alert-danger {
     color: #a94442;
     background-color: #f2dede;
     border-color: #ebccd1;
 }
 
 .alert-danger hr {
     border-top-color: #e4b9c0;
 }
 
 .alert-danger .alert-link {
     color: #843534;
 }

/* Map */

#map {
    height: 100vh;
    min-height: 100vh;
    margin-top: 100px;
}

.leaflet-control-container {
    position: relative;
    top: 36px;
    left: 36px;
}

.leaflet-sidebar > .leaflet-control {
    padding: 48px 18px;
    height: auto;
    overflow: visible;
}

.leaflet-sidebar .close {
    line-height: 1.2em;
}

#sidebar {
    background: rgba(255, 255, 255, 0.85)
}

#sidebar ul {
    padding: 12px 24px;
}


/* Media Queries */
